@supports (display: flex) {
  p { border-color: red; }
}

p { color: red; }

@supports (display: flex) {
    @media(min-width: 100px) {
        @supports (display: flex) {
            p { background-color: orange ; }
        }
    }
}
